.payTitle {
	background-color: #f6f9ff;
	border: 1px solid #bcccee;
	height: 60px;
	margin-bottom: 10px;
}
.payTitle ul li {
	float: left;
	margin-right: 25px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 60px;
	color: #3e3e3e;
}
.buyfont{
	font-size: 16px;
	line-height: 60px;
	color: #3e3e3e;
}
.butTitle {
	line-height: 31px;
	background-image: url(../images/pay_03.png);
	background-repeat: repeat-x;
	text-indent: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
	border: 1px solid #a1bede;
}
.payBuy {
	border: 3px solid #bcccee;
}
.payBuy h2 {
	font-size: 14px;
	line-height: 32px;
	font-weight: normal;
	text-indent: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
}
.payBuy .buyChoice {
	padding-right: 10px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	line-height: 24px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.buyChoice h3 {
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
	color: #09c;
}
.buyChoice table th {
	padding-right: 10px;
	padding-left: 10px;
}
.buyChoice a {
	color: #3e3e3e;
	text-decoration: none;
	border-right-color: #bcccee;
	border-bottom-color: #bcccee;
	border-left-color: #bcccee;
}
.buyButton {
	float: right;
	background-image: url(../images/pay_07.png);
	background-repeat: repeat-x;
	height: 33px;
	width: 120px;
	border: 1px solid #F2881E;
	line-height: 33px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 15px;
 
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.checkStyle{
	background: #f6f9ff; 
	border:solid 1px #bcccee;
}


.banklist{ border:1px solid #bbb;}
/*支付宝银行选择*/
.fn-mb-30 {
    margin-bottom: 30px;
    height:45px;
}
 
.kj-area {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFBE1;
    border-color: #FEBF90;
    border-style: dashed;
    border-width: 1px 0;
    margin: 10px 0 0;
    padding: 10px 0 0 10px;
}
.pticon{ float:left; height:36px; margin-right:20px;}
.ui-list-icons{ margin:10px; }
.ui-list-icons li{ float:left; padding:8px; height:30px; text-align:center;}

.rdobank{ float:left; width:25px;  text-align:center; padding-top:10px; }
.icon{ width:150px ; height:36px ;    border:1px solid #ccc;
    padding: 0;    float:left;  
   }
.icon:hover{ border-color:Orange;}
 
.ajax-DEbank { clear:both; width:850px; height:250px;}

.ABC, .BOC, .CCB, .CEB, .CIB, .CITIC, .CMB, .CMBC, .COMM, .GDB, .ICBC, .KuaiIconY, .PSBC, .SDB, .SPABANK, .SPDB {
    background-image: url(../images/combo.png)  ;  background-repeat: no-repeat;
    text-indent: -9999px;
}
.ABC {
    background-position: 0 0;
}
.BOC {
    background-position: 0 -36px;
}
.CCB {
    background-position: 0 -72px;
}
.CEB {
    background-position: 0 -108px;
}
.CIB {
    background-position: 0 -144px;
}
.CITIC {
    background-position: 0 -180px;
}
.CMB {
    background-position: 0 -216px;
}
.CMBC {
    background-position: 0 -252px;
}
.COMM {
    background-position: 0 -288px;
}
.GDB {
    background-position: 0 -324px;
}
.ICBC {
    background-position: 0 -360px;
}
.KuaiIconY {
    background-position: 0 -396px;
}
.PSBC {
    background-position: 0 -432px;
}
.SDB {
    background-position: 0 -468px;
}
.SPABANK {
    background-position: 0 -504px;
}
.SPDB {
    background-position: 0 -540px;
}
