
.listsClass,.listsClass ul,.listsClass li { list-style-type:none; color:#555; border:1px solid #ddd; }
ul.sTree,.listsClass ul{ padding:0px; background-color:#fff; }
ul.sTree2 li, ul#sortableListsBase li { padding-left:40px; margin:5px; border:1px solid #ddd; background:url(../img/mws-sidebar-bg06.png); list-style-type: none;}
li .itemDiv { padding:7px; background-color:#fff;}
.listsClass li,.listsClass ul, .listsClass,.listsClass div { border-radius: 0; }
.pT20 { padding-top:20px; }
.pV10 { padding-top:10px; padding-bottom:10px; }
.dN { display:none; }
.zI1000 { z-index:1000; }

.bgC1 { background-color:#ccc; }
.bgC2 { background-color:#ff8; }
.small1 { font-size:0.8em; }
.small2 { font-size:0.7em; }
.small3 { font-size:0.6em; }
.tAR { text-align:right; }
.clear { clear:both; }
img.descPicture { display:block; width:100%; margin:0 7px 30px 0; float:left; cursor:pointer; /*transition: all 0.5s ease;*/ }
img.descPicture.descPictureClose { width:150px; }
#sTree2{ margin:0 auto; background: #FFF;border-radius: 3px;}
.itemDiv input,.itemDiv span{float: left;}
.itemDiv input{width: 15%;height: 30px;}
.itemDiv span{width:85%;text-overflow: ellipsis;white-space:nowrap; -o-text-overflow:ellipsis; overflow: hidden;line-height: 30px;padding-left: 5px;}
.listsClass ul{display: none;}
.listsClass ul.current{display: block;}
.listsClass div{cursor: pointer;}


@media (max-width: 1400px){
	
	.itemDiv input{float: none;width: 100%;}
	.itemDiv span{float: none;width: 100%;display: block;}

}