@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-style: normal;
}


a {
    text-decoration: none;
    color: #666;
}

body {
    font-family: '微软雅黑';
    font-size: 14px;
    background: #07090E;
    color: #fff;
}

.xs_header {
    height: 515px;
    background: url(../img/top_bg1.png) no-repeat 0 0;
    background-size: 100%;
    padding-top: 30px;
}

.h_top {
    height: 120px;
    overflow: hidden;
}

.t_right p span {
    font-size: 16px;
}

.t_right p {
    line-height: 32px;
    text-align: center;
}

.t_left {
    float: left;
    padding-left: 30px;
}

.t_right {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}

.tt_l {
    height: 100%;
    padding-left: 10px;
    float: left;
}

.t_top {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding-top: 5px;
    background: #77c225;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    z-index: 9999;
}

.tt_r {
    position: absolute;
    top: 8px;
    right: 10px;
}

.h_bottom {
    height: 365px;
    padding-top: 12px;
    background-color: #fff;
}

.xs_xx {
    width: 44%;
    float: left;
    text-align: left;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 3px;
    line-height: 30px;
    font-size: 15px;
}

    .xs_xx p:nth-of-type(1) {
        font-size: 16px;
        padding: 3px;
    }

    .xs_xx p:nth-of-type(2) {
        padding-bottom: 12px;
        font-size: 25px;
    }

        .xs_xx p:nth-of-type(2) a {
            color: red;
        }

.more {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    color: #999;
    background-color: #eee;
    cursor: pointer;
}



.xs_yjxx {
    height: 100px;
    background: #fff;
    margin-top: 0px;
    padding-top: 15px;
}

.yjxx_in {
    height: 70px;
    border-right: 1px solid #77c225;
    width: 33.33%;
    float: left;
    text-align: center;
    line-height: 23px;
    font-size: 14px;
}

    .yjxx_in p:nth-of-type(2) {
        color: #025970;
        font-weight: bold;
    }

    .yjxx_in p:nth-of-type(1) span {
        display: block;
        background: url(../img/renshu.png) no-repeat 18px 0;
        background-size: 26px;
        padding-left: 18px;
    }

.yjxx_in1 p:nth-of-type(1) span {
    display: block;
    background: url(../img/yej.png) no-repeat 18px 0;
    background-size: 28px;
    padding-left: 20px;
}

.yjxx_in p:nth-of-type(3) {
    color: #999;
    font-size: 12px;
}

.xs_footer li {
    margin-top: 10px;
    height: 50px;
    float: left;
    width: 20%;
    text-align: center;
}

    .xs_footer li a {
        display: block;
        font-size: 20px;
        color: #888;
    }

    .xs_footer li .a_cur {
        color: #0b95d4;
    }

.xs_footer span {
    font-size: 16px;
}

.xs_footer {
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    height: 50px;
    width: 100%;
}

    .xs_footer ul {
        overflow: hidden;
        height: 50px;
    }

.xs_content, .xs_content1, .xs_content2, .xs_content3 {
    background: #fff;
}

    .xs_content ul, .xs_content1 ul, .xs_content2 ul, .xs_content3 ul {
        padding: 0 0 10px 0;
        margin-top: 10px;
        overflow: hidden;
    }

    .xs_content li, .xs_content1 li, .xs_content2 li, .xs_content3 li {
        width: 25%;
        float: left;
    }

        .xs_content li a, .xs_content1 li a, .xs_content2 li a, .xs_content3 li a {
            display: block;
            padding-top: 45px;
            text-align: center;
            background: url(../img/zhuc.png) no-repeat center 0;
            background-size: 40px;
        }

    .xs_content li, .xs_content1 li, .xs_content2 li, .xs_content3 li {
        height: 85px;
        font-size: 15px;
    }

        .xs_content li:nth-of-type(2) a {
            background: url(../img/zhucll.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content li:nth-of-type(3) a {
            background: url(../img/fut.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content li:nth-of-type(4) a {
            background: url(../img/shengj.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content li:nth-of-type(5) a {
            background: url(../img/thbd.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content li:nth-of-type(6) a {
            background: url(../img/ddll.png) no-repeat center 0;
            background-size: 37px;
        }

        .xs_content li:nth-of-type(7) a {
            background: url(../img/zfu.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content li:nth-of-type(8) a {
            background: url(../img/quedsh.png) no-repeat center 2px;
            background-size: 40px;
        }

        .xs_content li:nth-of-type(9) a {
            background: url(../img/fuwjg.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(1) a {
            background: url(../img/chongz.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(4) a {
            background: url(../img/liul2.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(2) a {
            background: url(../img/liul3.png) no-repeat center 0;
            background-size: 36px;
        }

        .xs_content1 li:nth-of-type(3) a {
            background: url(../img/shoujcz.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(5) a {
            background: url(../img/lxhkgl.png) no-repeat center 0;
            background-size: 38px;
        }

        .xs_content1 li:nth-of-type(6) a {
            background: url(../img/xjzhmx.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(7) a {
            background: url(../img/xfzhmx.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(8) a {
            background: url(../img/mingx.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(9) a {
            background: url(../img/mingx1.png) no-repeat center 0;
            background-size: 35px;
        }

        .xs_content1 li:nth-of-type(10) a {
            background: url(../img/txsq.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(11) a {
            background: url(../img/liul4.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(12) a {
            background: url(../img/dzzz.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(13) a {
            background: url(../img/dzzz.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content2 li:nth-of-type(3) a {
            background: url(../img/bzsz.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content2 li:nth-of-type(1) a {
            background: url(../img/hkgl.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content2 li:nth-of-type(2) a {
            background: url(../img/azwlt.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content2 li:nth-of-type(4) a {
            background: url(../img/tuic.png) no-repeat center 3px;
            background-size: 40px;
        }

        .xs_content1 li:nth-of-type(13) a {
            background: url(../img/ddll.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content3 li:nth-of-type(1) a {
            background: url(../img/xieyj.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content3 li:nth-of-type(2) a {
            background: url(../img/fajianx.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content3 li:nth-of-type(3) a {
            background: url(../img/shoujianx.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content3 li:nth-of-type(4) a {
            background: url(../img/feijianx.png) no-repeat center 0;
            background-size: 40px;
        }

        .xs_content3 li:nth-of-type(5) a {
            background: url(../img/ggaocy.png) no-repeat center 0;
            background-size: 40px;
        }

.tixing_2 {
    z-index: 1000;
    min-width: 15px;
    height: 15px;
    font-size: 8px;
    padding: 0 1px;
    line-height: 15px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 25%;
}

.tixing_3 {
    z-index: 1000;
    min-width: 15px;
    height: 15px;
    font-size: 8px;
    padding: 0 1px;
    line-height: 15px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 85%;
}

.tixing_4 {
    z-index: 1000;
    min-width: 15px;
    height: 15px;
    font-size: 10px;
    padding: 0 1px;
    line-height: 15px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 65%;
}


.p_menu2 h5 {
    height: 40px;
    line-height: 40px;
    padding-left: 38px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background: #77c225 url(../img/guanl.png) no-repeat 10px center;
    background-size: 25px;
    border-bottom: 1px solid #fff;
}

.p_menu3 h5 {
    background: #77c225 url(../img/caiwu.png) no-repeat 10px center;
    background-size: 25px;
}

.p_menu4 h5 {
    background: #77c225 url(../img/qit.png) no-repeat 14px center;
    background-size: 20px;
}

.p_menu2 h5 span {
    float: left;
    line-height: 40px;
    font-size: 14px;
}

.p_menu2 em {
    width: 40px;
    height: 40px;
    float: left;
    background: url(../img/shouq.png) no-repeat center center;
    background-size: 15px;
}

.p_menu4 h5 div {
    float: right;
}

/* chaxun */
.mailTile {
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.mailLT, .mailRt {
    float: left;
    width: 49%;
    text-align: center;
    line-height: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 1%;
}

.mailRt {
    margin: 4px 1% 0 0;
}

.mailSlt {
    background: #77c225;
    color: #fff;
    border-radius: 3px;
}

.minMsg {
    display: none;
}

.mailbtn a {
    color: #333;
}

.mailSlt a {
    color: #fff;
}

.minMsgBox h3 {
    padding: 10px 0 5px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px #ccc dashed;
    padding-bottom: 5px;
    background: #fff;
    border-radius: 3px 3px 0 0;
}

.minMsgBox ul {
    background: #fff;
    padding-top: 10px;
}

    .minMsgBox ul span {
        float: left;
        width: 40%;
        padding-right: 10px;
        text-align: right;
    }

    .minMsgBox ul li {
        overflow: hidden;
        background: #fff;
    }

    .minMsgBox ul .last {
        border-radius: 0 0 3px 3px;
    }

.zxjj_1 {
    margin-bottom: 10px;
    overflow: hidden;
}

.minMsgBox em {
    float: left;
    font-style: normal;
    padding-left: 10px;
}

.minMsgBox b {
    font-weight: normal;
}

.minMsgBox {
    margin-top: 10px;
    border-radius: 3px;
}

    .minMsgBox ol li {
        background: #fff;
        padding: 10px 5px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

        .minMsgBox ol li p {
            font-size: 16px;
            margin-top: 5px;
        }

        .minMsgBox ol li label {
            float: right;
            margin-right: 10px;
            color: red;
        }

        .minMsgBox ol li a {
            display: block;
            overflow: hidden;
        }

        .minMsgBox ol li span {
            float: right;
            margin-right: 5px;
            background: #77c225;
            padding: 0px 5px;
            border-radius: 2px;
            color: #fff;
            font-size: 14px;
        }
/*MMXG*/
.changeBox {
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
}

    .changeBox ul li {
        overflow: hidden;
        zoom: 1;
        color: #666;
        font-size: 16px;
        /*height: 30px;*/
        line-height: 30px;
        margin-bottom: 10px;
    }

        .changeBox ul li .changeLt {
            float: left;
            width: 25%;
            text-align: right;
        }

        .changeBox ul li .changeRt {
            float: left;
            text-align: left;
            width: 100%;
        }

            .changeBox ul li .changeRt .radioBox {
                vertical-align: -2px;
            }

            .changeBox ul li .changeRt .textBox {
                height: 28px;
                line-height: 28px;
                width: 100%;
                border: 1px solid #ccc;
                color: #8c8c8c;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

@media screen and (max-width:330px) {
    .changeBox ul li .changeLt {
        width: 33%;
    }

    .changeBox ul li .changeRt {
        width: 100%;
    }
}

.changeBtnBox {
    margin: 30px 10px;
}

    .changeBtnBox .changeBtn {
        display: block;
        height: 36px;
        line-height: 36px;
        text-align: center;
        background: #85ac07;
        width: 100%;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 4px;
    }

.zcMsg ul li .changeLt b {
    color: #ff0000;
    vertical-align: -3px;
}

.zcMsg ul li .changeRt .zcSltBox {
    height: 28px;
    line-height: 28px;
    width: 70%;
    border: 1px solid #ccc;
    color: #8c8c8c;
    border-radius: 3px;
}

.zcMsg ul li .changeRt .zcSltBox2 {
    height: 28px;
    line-height: 28px;
    width: 35%;
    border: 1px solid #dfdfdf;
    color: #8c8c8c;
}

.zcMsg ul .zcSltHight {
    height: 60px;
}

.zcMsg ul li .changeRt .textBox2 {
    height: 28px;
    line-height: 28px;
    width: 45%;
    border: 1px solid #dfdfdf;
    color: #8c8c8c;
    float: left;
    margin-right: 10px;
}

.registerMsg {
    font-size: 14px;
    color: #666;
    margin: 0px 10px;
}

.backIcon {
    display: block;
    width: 24px;
    height: 40px;
    position: absolute;
    background: url("../img/backIcon.png") 0px center no-repeat;
    top: 0px;
    left: 14px;
    z-index: 99;
    background-size: 18px;
}

.fenlei {
    width: 30px;
    height: 40px;
    background: url(../img/fenlei.png) no-repeat center center;
    background-size: 25px;
    position: absolute;
    left: 10px;
    top: 0px;
}

.tt_r {
    width: 40px;
    height: 40px;
    background: url(../img/gouwc.png) no-repeat center center;
    background-size: 25px;
    position: absolute;
    right: 10px;
    top: 0px;
}

    .tt_r span {
        display: block;
        width: 15px;
        height: 15px;
        background: red;
        text-align: center;
        line-height: 15px;
        font-size: 12px;
        color: #fff;
        border-radius: 50%;
        float: right;
        margin-top: 5px;
    }

.shous {
    height: 30px;
    margin-top: 5px;
    width: 70%;
    padding-left: 5px;
    border-radius: 3px;
}

.t_top {
    padding-top: 0;
}

.paix {
    background: #fff;
}

    .paix ul {
        overflow: hidden;
        padding: 10px 2%;
    }

    .paix li {
        float: right;
        width: 65%;
    }

    .paix .paix1 {
        padding-right: 5px;
        float: left;
    }

    .paix li select {
        border: 1px solid #ccc;
        padding: 2px 5px;
        border-radius: 3px;
        height: 22px;
        width: 100%;
    }

    .paix li input {
        width: 22%;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0 5px;
        padding: 2px 5px;
        height: 22px;
    }

    .paix li button {
        padding: 2px 5px;
        background: #77c225;
        color: #fff;
        height: 22px;
        border-radius: 3px;
    }

    .paix .paix1 {
        width: 35%;
    }

.b_shoping ul {
    overflow: hidden;
}

    .b_shoping ul li {
        width: 48%;
        float: left;
        margin-left: 2%;
        margin-top: 6px;
        background: #fff;
        border-radius: 5px;
        padding-bottom: 5px;
        overflow: hidden;
    }

        .b_shoping ul li a {
            display: block;
        }

.jiag {
    font-size: 16px;
    color: red;
}

.b_shoping ul li a p {
    padding: 0 5px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .b_shoping ul li a p:nth-of-type(2) {
        font-size: 12px;
    }

    .b_shoping ul li a p:nth-of-type(1) {
        color: #333;
    }

.changeBox p {
    padding: 0 5px;
}

.changeBox {
    margin: 0;
    border-radius: 0;
    padding-bottom: 10px;
}

    .changeBox p:nth-of-type(1) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 5px;
        font-size: 16px;
    }

    .changeBox p:nth-of-type(2) {
        font-size: 12px;
        color: #666;
        padding-top: 5px;
    }

    .changeBox p:nth-of-type(3) {
        font-size: 16px;
        color: red;
        padding-top: 10px;
    }

.middle img {
    display: block;
}

.changeBox2 {
    background: #fff;
    margin-top: 10px;
}

    .changeBox2 h3, .bdqd_in h3 {
        line-height: 40px;
        font-weight: normal;
        height: 40px;
    }

        .changeBox2 h3 span, .bdqd_in h3 span {
            float: left;
            background: #77c225;
            width: 3px;
            height: 16px;
            margin: 13px 5px 0 10px;
        }

.bd_pay {
    height: 44px;
    line-height: 46px;
    border-top: 1px solid #ccc;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 53px;
    width: 100%;
}

    .bd_pay span {
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
        color: #333;
    }

        .bd_pay span:nth-of-type(1) {
            background: #77c225;
            color: #fff;
        }

.fenlei_in {
    overflow: hidden;
    background: #fff;
    height: 100%;
}

.f_left {
    float: left;
    width: 30%;
    border-right: 1px solid #ccc;
    height: 100%;
}

    .f_left li {
        padding: 12px 0;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }

.f_right {
    height: 100%;
    width: 70%;
    float: left;
}

    .f_right ul li a {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

        .f_right ul li a p {
            text-align: center;
            font-size: 13px;
        }

    .f_right ul li {
        display: none;
    }

.bdqd_in {
    background: #fff;
}

    .bdqd_in li {
        line-height: 20px;
        overflow: hidden;
    }

    .bdqd_in ul {
        padding: 5px 2%;
        border-bottom: 1px solid #ccc;
    }

    .bdqd_in h3 {
        border-bottom: 1px solid #ccc;
        height: 30px;
        line-height: 30px;
    }

        .bdqd_in h3 span {
            margin-top: 8px;
        }

.bdqd_in2 {
    margin-top: 5px;
}

.bdqd_in li span {
    display: inline-block;
    width: 28%;
    text-align: right;
    margin-right: 5%;
    float: left;
}

.dzxz {
    float: left;
    width: 67%;
}

.pay_qd {
    height: 44px;
    line-height: 40px;
    background: #fff;
}

    .pay_qd a {
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
        color: #333;
    }

        .pay_qd a:nth-of-type(1) {
            background: #77c225;
            color: #fff;
        }

/* 购物车 */
.proLi {
    width: 100%;
}

    .proLi ul li {
        border-radius: 3px;
        background: #fff;
        width: 96%;
        margin: 0 auto;
        overflow: hidden;
        zoom: 1;
        border-bottom: 1px solid #ccc;
        margin-top: 8px;
    }

.proLiCnt {
    overflow: hidden;
    zoom: 1; /*height: 100px;*/
    position: relative;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}

    .proLiCnt .checkbox1 {
        float: left;
        margin: 45px 5px 0 5px;
    }

    .proLiCnt img {
        float: left;
        display: block;
        height: 100px;
        width: 100px;
        padding-top: 2px;
    }

    .proLiCnt .totalDel {
        color: #999;
        position: absolute;
        top: 50%;
        right: 10px;
        font-size: 12px;
    }

    .proLiCnt i {
        font-style: normal;
        font-size: 15px;
        color: #f63536;
    }

.proLiCntSon {
    padding-left: 110px;
}

.proLiCntSon2 {
    padding-left: 140px;
}

.proLiCntSon p:nth-child(1) {
    font-size: 14px;
    color: #232326;
    margin: 5px 0 0 0;
    overflow: hidden;
    zoom: 1;
    height: 50px;
    line-height: 25px;
}

.proLiCntSon p:nth-child(2) {
    font-size: 12px;
    color: #666;
    margin: 0px 0 0 0;
}

    .proLiCntSon p:nth-child(2) i {
        font-size: 15px;
        color: #f63536;
        font-style: normal;
    }

.proLiCntSon p:nth-child(3) {
    font-size: 12px;
    color: #666;
}

    .proLiCntSon p:nth-child(3) input {
        width: 20px;
        height: 20px;
        border: 1px solid #ddd;
        color: #797979;
        line-height: 10px;
        background: #fff;
        border-radius: 0px;
    }

    .proLiCntSon p:nth-child(3) .proAd {
        display: inline-block;
        width: 18px;
        line-height: 16px;
        height: 18px;
        border: 1px solid #ddd;
        color: #797979;
        background: #fff;
        border-radius: 0px;
        text-align: center;
    }

    .proLiCntSon p:nth-child(3) input:nth-child(2) {
        margin: 0 3px;
        width: 20px;
        height: 18px;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        color: #999;
        vertical-align: -1px;
    }

.proLiCntSon p {
    font-size: 14px;
    color: #666;
}

    .proLiCntSon p:nth-last-child(1) {
        font-size: 14px;
        color: #232326;
    }

.spjgxq {
    position: absolute;
    bottom: -200%;
    left: 0;
    width: 100%;
    padding: 30px 15px 90px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ddd;
}

    .spjgxq .tjclose {
        position: absolute;
        right: 15px;
        top: 10px;
        color: red;
    }

    .spjgxq li {
        height: 40px;
    }

.proLiFot {
    width: 90%;
    float: right;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #999;
}

    .proLiFot span:nth-child(1) {
        float: left;
        font-size: 14px;
    }

    .proLiFot span:nth-child(2) {
        float: right;
        margin: 0 10px 0 0;
    }

.total {
    font-size: 14px;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 60px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-top: 1px solid #eaeaea;
}

    .total .totalBuy {
        float: left;
        display: block;
        height: 40px;
        padding: 0 20px;
        background: #f5a635;
        color: #fff;
        font-size: 14px;
        line-height: 40px;
        width: 42%;
        box-sizing: border-box;
        text-align: center;
    }

    .total input {
        margin: 12px 0 0 10px;
        color: #000;
        float: left;
    }

    .total p {
        float: left;
    }

    .total i {
        font-style: normal;
        font-size: 15px;
        color: #f63536;
    }

    .total label {
        margin: 1px 10px 0 0;
        float: left;
    }
/*订单支付*/
.ddInfo {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 0 0px 4%;
}

    .ddInfo ul li { /*border-bottom:1px dashed #ccc;*/
        padding: 6px 0 5px 0px; /*background: url('../img/tjcg.png') 0px center no-repeat;*/
        min-height: 36px;
        height: auto;
    }

        .ddInfo ul li:last-child {
            border-bottom: 0;
        }

        .ddInfo ul li p:nth-child(1) {
            font-size: 18px;
            height: 25px;
            line-height: 25px;
            color: #333;
            font-weight: 700;
        }

        .ddInfo ul li p:nth-child(2) {
            font-size: 16px;
            height: 15px;
            line-height: 15px;
            color: #000;
            margin: 9px 0 3px 0;
        }

        .ddInfo ul li p:nth-child(3) {
            font-size: 12px;
            height: 15px;
            line-height: 15px;
            color: #666;
        }

        .ddInfo ul li p {
            float: left;
        }

        .ddInfo ul li i {
            font-style: normal;
        }

.paymInfo input {
    float: right;
    margin: 10px 20px 0 0;
}

.zfInfo {
    width: 100%;
    margin: 10px 0 0 0;
    background: #fff;
}

.zfTag {
    width: 100%;
    margin: 10px 0 0 0;
}

    .zfTag a {
        display: block;
        width: 96%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        background: #77c225;
        color: #fff;
        margin: 0 auto;
        border-radius: 3px;
    }

.zfInfo ul li {
    overflow: hidden;
    zoom: 1;
    height: 50px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    position: relative;
    line-height: 50px;
    margin-bottom: 20px;
}

    .zfInfo ul li:last-child {
        border-bottom: 0;
        height: auto;
    }

    .zfInfo ul li span {
        display: block;
        float: left;
        height: 50px;
    }

    .zfInfo ul li p {
        float: left;
        font-size: 16px;
        color: #000;
        line-height: 18px;
        padding: 10px 0;
        font-style: normal;
        width: 75%;
        font-size: 12px;
        position: relative;
    }

    .zfInfo ul li:nth-child(7) p {
        float: left;
        font-size: 16px;
        color: #000;
        height: auto;
        line-height: 14px;
        padding: 0;
        font-style: normal;
        width: 75%;
        font-size: 12px;
        height: auto;
    }

    .zfInfo ul li p i {
        font-style: normal;
        color: #999;
        font-size: 12px;
    }
/*.zfInfo ul li input {float:right;margin:18px 20px 0 0;}*/
.input {
    float: right;
    margin: 18px 20px 0 0;
}
/*.zfInfo_1 span {background: url('../images/fxjf.png') center center no-repeat;background-size:30px;}
.zfInfo_3 span {background: url('../img/zfbzf.png') center center no-repeat;}
.zfInfo_4 span {background: url('../img/wxzf.png') center center no-repeat;}
.zfInfo_5 span {background: url('../img/xfpay.png') center center no-repeat;background-size:40px;}
.zfInfo_6 span {background: url('../images/quan.png') center center no-repeat;}
.zfInfo_7 span {background: url('../images/jfzf.png') center center no-repeat;background-size:36px;}*/


.zfInfo1 {
    width: 100%;
    margin: 10px 0 0 0;
    background: #fff;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #dfdfdf;
}

.zfTag {
    width: 100%;
    margin: 10px 0 0 0;
}

.zfInfo1 ul li {
    overflow: hidden;
    zoom: 1;
    height: 50px;
    border-bottom: 1px solid #eaeaea;
}

    .zfInfo1 ul li:last-child {
        border-bottom: 0;
    }

    .zfInfo1 ul li span {
        display: block;
        float: left;
        width: 60px;
        height: 50px;
    }

    .zfInfo1 ul li p {
        float: left;
        font-size: 16px;
        color: #000;
        height: 43px;
        line-height: 43px;
        padding: 7px 0 0 0;
    }

        .zfInfo1 ul li p i {
            font-style: normal;
            color: #999;
            font-size: 12px;
        }

    .zfInfo1 ul li input {
        margin: 13px 20px 0 5px;
        height: 23px;
        line-height: 23px;
    }


span .orderTHOK {
    font-size: 12px;
}
/*全部订单*/
.ddh {
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #eaeaea;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 10px;
}

    .ddh span {
        float: right;
        margin: 0 10px 0 0;
        font-size: 14px;
        color: #999;
    }

        .ddh span b {
            color: #ff6600;
            font-weight: normal;
        }

        .ddh span i {
            color: #ff6600;
            font-style: normal;
        }

.proLiFot .orderZf, .proLiFot .orderQx, .proLiFot .orderDel, .proLiFot .orderOk, .proLiFot .orderPj {
    display: block;
    float: right;
    margin: 4px 10px 0 0;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border: 1px solid #999;
    font-size: 14px;
    color: #555;
}

.proLiFot .orderQx, .proLiFot .orderDel {
    border: 1px solid #ccc;
    color: #ccc;
}

.proLiFot .orderZf, .proLiFot .orderOk, .proLiFot .orderPj {
    border: 1px solid #ff6600;
    color: #ff6600;
}

.zfInfo ul li input[type='radio'] {
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.zfInfo ul li .blcsty {
    float: right;
    margin-right: 20px;
    font-size: 15px;
    padding-top: 15px;
}

/*我的资料*/
.myInfo {
    margin: 10px 0 0 0;
    /* border-top: 1px solid #dfdfdf; */
    /* border-bottom: 1px solid #dfdfdf; */
    padding: 0 0 0 20px;
    /* background: #fff; */
    padding: 2%;
}

    .myInfo ul li {
        overflow: hidden;
        zoom: 1;
        border-bottom: 1px solid #eaeaea;
        font-size: 14px;
        padding: 0 4%;
    }

    .myInfo ul {
        border-radius: 5px;
        background: #fff;
    }

        .myInfo ul li span {
            float: left;
            display: block;
            height: 35px;
            line-height: 35px;
        }

            .myInfo ul li span:nth-child(1) {
                width: auto;
                color: #999;
            }

            .myInfo ul li span:nth-child(2) {
                width: auto;
                color: #000;
                font-size: 14px;
            }

        .myInfo ul li:last-child {
            border-bottom: 0;
        }



#DetailSpan span {
    float: right;
    margin-right: 0px;
    padding: 0px;
    border-radius: 2px;
    background: #fff;
    color: #000000;
    font-size: 14px;
}



.chosediv {
    position: absolute;
    bottom: 0px;
    height: 50%;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

    .chosediv .ondiv {
        height: 50px;
        width: 50px;
    }




.linktop {
    width: 100%;
    margin: 0;
}

    .linktop ul {
        width: 100%;
    }

        .linktop ul li {
            width: 32%;
            margin-left: 1%;
            margin-top: 5px;
            float: left;
        }

            .linktop ul li i {
                float: left;
            }

            .linktop ul li a {
                width: 100%;
                padding-left: 2px;
                padding-right: 2px;
            }

.linkcontent {
    width: 100%;
    clear: both;
}

    .linkcontent ul {
        width: 100%;
    }

        .linkcontent ul li {
            height: 50px;
            line-height: 40px;
            width: 100%;
            border: 1px solid #eee;
            background-color: #fff;
            text-align: center;
            padding: 5px;
            margin-top: 5px;
            font-size: 15px;
        }

            .linkcontent ul li div {
                width: 33%;
                float: left;
                height: 40px;
                line-height: 40px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

.middle {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

    .middle .sctt {
        height: 30px;
        line-height: 30px;
        width: 100%;
    }

        .middle .sctt li {
            list-style: none;
            float: left;
            width: 33.33%;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }

        .middle .sctt .cur {
            color: #dd4814;
            font-weight: bold;
            border-bottom: 2px solid rgb(255, 106, 0);
        }

    .middle .scttjy {
        height: 30px;
        line-height: 30px;
        width: 100%;
        position: absolute;
        top: 50px;
        font-size: 16px;
    }

    .middle .topscrll {
        height: 30px;
        line-height: 30px;
        width: 100%;
        margin-top: -20px;
        color: #fa0000;
        font-size: 14px;
    }

        .middle .topscrll span {
            padding-left: 5px;
            padding-right: 5px;
            width: 50%;
            line-height: 30px;
            height: 30px;
        }


    .middle .scttjy li {
        list-style: none;
        float: left;
        width: 25%;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .middle .scttjy .cur {
        color: #dd4814;
        font-weight: bold;
        border-bottom: 2px solid rgb(255, 106, 0);
    }

    .middle .content {
        display: none;
        padding: 0px;
        width: 65%;
        min-height: 500px;
        margin-bottom: 60px;
        font-size: 16px;
        float:left;
    }

    .middle .buy ul li, .sell ul li {
        list-style: none;
        margin-top: 10px;
        line-height: 20px;
        vertical-align: middle
    }

    .middle .content ul li .spmp {
        width: 38px;
        height: 38px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        float: left;
        margin-left: 3px;
        margin-right: 3px;
    }

    .middle .content #cardinfo {
        line-height: 40px;
        text-align: right;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .middle .cur {
        display: block;
    }

    .middle ul li .changeLt {
        width: 30%;
        float: left;
        line-height: 40px;
        text-align: center;
    }

    .middle ul li .changeRt {
        width: 100%;
        float: left;
        line-height: 40px;
    }

#buy input[type="text"] {
    border-color: #dd4814;
}

#buy {
    color: #dd4814;
}

    #buy .red {
        background-color: #dd4814;
        border-color: #dd4814;
        color: #fff;
        background-image: linear-gradient(#dd4814, #dd4814 60%, #dd4814);
    }

    #buy .spmp {
        border: 1px solid #dd4814;
    }

#sell input[type="text"] {
    border-color: #517bcd;
}

#sell {
    color: #517bcd;
}

    #sell .spmp {
        border: 1px solid #517bcd;
    }

    #sell .blue {
        background-image: linear-gradient(#0E4A93, #5F0BC1);
        line-height: 38px;
        height: 38px;
        width: 100%;
        color: #fff;
    }
#buy .busub {
    background-image: linear-gradient(#dd4814, #5F0BC1);
    line-height: 38px;
    height: 38px;
    width: 100%;
    color: #fff;
}
.gmlb {
  width:35%;float:right;
  padding-top:20px;
}
.djye ul {
    width: 100%;
    min-height: 500px;
}

    .djye ul .title {
        height: 35px;
        line-height: 25px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        font-weight: normal;
    }

    .djye ul li {
        list-style: none;
        height: 60px;
        line-height: 25px;
        padding: 5px;
        background-color: #fff;
    }

        .djye ul li div {
            height: 100%;
            width: 25%;
            float: left;
            text-align: right;
            line-height: 25px;
        }

            .djye ul li div p {
                margin: 0px;
            }

        .djye ul li .firstdiv {
            text-align: left;
        }

        .djye ul li .secdiv {
            width: 12%;
            margin-left: 3%;
        }

        .djye ul li .fourdiv {
            width: 35%;
        }

            .djye ul li .fourdiv a {
                width: 40%;
                line-height: 22px;
                padding: 2px;
                float: right;
                margin-right: 2px;
            }

    .djye ul .sellli {
        border-bottom: 1px #b3c0e4 solid;
        color: #517bcd;
    }

        .djye ul .sellli a {
            color: #517bcd;
        }

    .djye ul .buyli {
        border-bottom: 1px #ffd5d5 solid;
        color: #dd4814;
    }





.midls {
    min-height: 500px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #eee;
    font-size: 16px;
}

    .midls .topshow {
        background-color: #fff;
        width: 100%;
        height: 130px;
        padding: 10px;
        text-align: center;
    }

        .midls .topshow .jindubg {
            margin-top: 5px;
            width: 200px;
            border-radius: 5px;
            height: 5px;
            margin: auto;
            background-color: #ccc;
        }

            .midls .topshow .jindubg div {
                width: 50%;
                height: 5px;
                border-radius: 5px;
                background-color: #31b826;
            }

        .midls .topshow p {
            width: 60%;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: auto;
            margin-top: 5px;
        }

            .midls .topshow p a {
                font-size: 20px;
                font-weight: bold;
            }

    .midls .buyif {
        color: #dd4814;
    }

    .midls .sellif {
        color: #004ce0;
    }

    .midls ul {
        background-color: #fff;
        width: 100%;
        margin-bottom: 10px;
    }

        .midls ul li {
            width: 100%;
            padding: 5px;
            line-height: 30px;
            min-height: 40px;
            height: auto;
            border-bottom: 1px solid #eee;
        }


            .midls ul li .fdiv {
                width: 29%;
                float: left;
                padding-left: 5px;
            }

            .midls ul li .sdiv {
                width: 70%;
                text-align: right;
                padding-right: 5px;
                float: right;
            }



.confirmRemit {
    display: none;
    z-index: 101;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    top: 30%;
}

    .confirmRemit ul {
        width: 100%;
    }

        .confirmRemit ul li {
            min-height: 60px;
            line-height: 60px;
            border-bottom: 1px solid #ccc;
            padding: 5px;
        }

#bakg {
    display: none;
    opacity: 0.5;
    background-color: #666;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    line-height: 650px;
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.accordion {
    margin-bottom: 20px;
}

.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion-heading {
    border-bottom: 0;
}

    .accordion-heading .accordion-toggle {
        display: block;
        padding: 8px 15px;
        background-color: #fff;
        text-align: center;
        color: #2d323e;
        font-size: 16px;
    }

.accordion-toggle {
    cursor: pointer;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}

.app-creative-panel {
    background: #2d323e;
    height: 30px;
    width: 100%;
    fill: #f5f5f5;
    margin-top: 5px;
    margin-bottom: -6px;
    z-index: 999;
}

.accordion-inner a {
    color: #fff;
}

.cont_p {
    padding: 10px;
    line-height: 26px;
}

    .cont_p input[type=text] {
        height: 26px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
        padding-left: 8px;
        box-sizing: border-box;
    }

    .cont_p ul {
        overflow: hidden;
        padding: 30px 0;
    }

        .cont_p ul li {
            width: 33.33%;
            float: left;
            text-align: center;
        }

            .cont_p ul li.cur span {
                background: #278cdf;
                color: #fff;
                border: 1px solid #278cdf;
            }

            .cont_p ul li span {
                padding: 10px 30px;
                background: none;
                border: 1px solid #666;
                color: #666;
                border-radius: 3px;
            }

.inp #cz, #cyxlb, #yxkczxz, #cz, #ydcp, #qrsf {
    width: 100%;
    height: 36px;
    border: 0;
    background: #278cdf;
    color: #fff;
    margin: 20px 0;
    border-radius: 3px;
}

.inp {
    text-align: center;
}

    .inp #cx {
        background: none;
        color: #333;
    }

#cyx {
    padding: 5px 10px;
    border-radius: 3px;
    background: #278cdf;
    color: #fff;
}

#yxkcz, #mc, #xzsp, #qdz, #zdz, #hxxz, #cfcs, #xz, #cwxz {
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    padding-left: 8px;
    box-sizing: border-box;
}
.zhlist {
    width: 100%;
    height: 80px;
    
}
    .zhlist ul li { 
    list-style:none;
   font-size:6px;  
   line-height:10px; 
   font-family:宋体;
  
    }
    .zhlist ul li .pl {
        float:left ; width:50%;
        margin-bottom:2px;
    }
        .zhlist ul li .pr {
            text-align: right;
            float: right;
            width: 50%;
            margin-bottom: 2px;
        }

#selllist{ color:green;}
#buylist { color:red;
}
.buylist {
    width: 100%;
    padding-bottom: 20px;
    background: #111622;
    padding-top: 10px;
    height: 100%;
}

    .buylist ul {
        width: 90%;
        margin: auto;
    }

        .buylist ul li {
            list-style: none;
            width: 100%;
            border-top: 2px transparent solid;
            border-image: linear-gradient(to right,#0E4A93,#5F0BC1) 1 10;
            height: 100px;
            text-align: left;
            background-color: #1A202E;
            box-shadow: inset;
            padding: 10px 5px 10px 5px;
        }

            .buylist ul li .ltimg {
                float: left;
                margin-top: 20px;
                margin-right: 20px;
            }

            .buylist ul li div {
                float: left;
                height: 50px;
                margin: 5px;
            }

            .buylist ul li .dsc1 {
                width: 48%;
                float: left;
            }

            .buylist ul li .dsc2 {
                width: 20%;
                float: right;
            }

            .buylist ul li div .p1 {
                line-height: 15px;
                margin: 2px;
                color: #fff;
                font-size: 16px;
                margin-bottom: 20px;
            }

            .buylist ul li div .p2 {
                line-height: 15px;
                margin: 2px;
                font-size: 14px;
                color: #fff;
            }

            .buylist ul li div .p3 {
                line-height: 14px;
                margin: 2px;
                color: #5D6678;
                font-size: 10px;
            }

            .buylist ul li input {
                text-align: center;
                padding: 5px;
                border-radius: 20px;
                background-color: #3E475A;
                color: #fff;
                float: right;
                width: 80px;
                margin: 20px 5px;
                font-size: 14px;
            }

.showhid {
    background: lightgoldenrodyellow;
    display: none;
    width: 80%;
    border: 1px;
    border-radius: 10px;
    background-color: #1A202E;
    padding: 10px;
    border-color: #ccc;
    position: fixed;
    top: 200px;
    left: 10%;
    margin: auto;
    height: 150px;
}

.rawz {
    width: 100%;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    height: 80px;
    color: #eee;
    font-size: 20px;
}

.radgm input {
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #3E475A;
    color: #fff;
    width: 30%;
    margin: 10px;
    font-size: 12px;
}

.showhid div .canc {
    color: #999;
}

.showhid div .qr {
    background-image: linear-gradient(to right,#0E4A93,#5F0BC1) 1 10;
}

.pricelist {
    width: 100%;
    padding-bottom: 20px;
    background: #111622;
    padding-top: 10px;
    height: 100%;
}

    .pricelist ul {
        width: 80%;
        margin: auto;
    }

    .pricelist img {
        width: 40px;
        height: 40px;
    }

    .pricelist ul li {
        list-style: none;
        width: 100%;
        /*border-top: 2px transparent solid;*/
        height: 60px;
        text-align: left;
        background-color: #1A202E;
        box-shadow: inset;
        padding: 10px 5px 10px 5px;
    }

        .pricelist ul li .ltimg {
            float: left;
            margin-top: 5px;
            /*margin-right: 20px;*/
            width: 15%;
        }

        .pricelist ul li div {
            float: left;
            height: 45px;
            margin: 5px 0px 5px 0px;
        }

        .pricelist ul li .dsc1 {
            width: 55%;
            float: left;
            border-bottom: 1px solid #484848 !important;
            margin-left: 5%;
        }

        .pricelist ul li .dsc2 {
            width: 25%;
            float: right;
            border-bottom: 1px solid #484848 !important;
            text-align: right;
        }

        .pricelist ul li div .p1 {
            line-height: 15px;
            margin: 2px;
            color: #fff;
            font-size: 15px;
            margin-bottom: 5px;
        }

        .pricelist ul li div .p2 {
            line-height: 15px;
            margin: 2px;
            font-size: 15px;
            color: #fff;
            margin-top: -10px;
        }

        .pricelist ul li div .p3 {
            line-height: 15px;
            margin: 2px;
            color: #5D6678;
        }

        .pricelist ul li input {
            text-align: center;
            padding: 5px;
            border-radius: 20px;
            background-color: #3E475A;
            color: #fff;
            float: right;
            width: 80px;
            margin: 20px 5px;
            font-size: 13px;
        }
