*{padding: 0;margin: 0;border: 0;font-family: "microsoft yahei";}
body{background: url(../images/img/mws-body-bg.png) 0 0 repeat;}
body,html{height: 100%;word-break: break-all;}
.topHead{height: 60px;width:100%;position:fixed;z-index:1;background: #2ecc71;padding-right: 10px;background: url(../images/img/mws-header-bg06.png) 0 0 repeat-x;border-bottom: 5px solid #c5d52b;box-shadow: 1px 1px 3px #666;}
.topHead a{line-height: 60px;font-size:18px;color: #FFF;padding: 0 5px;font-weight: bold;float: right;}
.logoBox img{margin-bottom: 10px;}
.content{height: 100%;position: relative;z-index: 0;padding-top: 61px;}
::-webkit-scrollbar {
		  width: 5px;
	} 
.btn .btnC ,.btnC2{
    border:0;
}
::-webkit-scrollbar-track {
		  background-color: #23455f;
	} /* 滚动条的滑轨背景颜色 */

	::-webkit-scrollbar-thumb {
		  background-color: #183042; 
	} /* 滑块颜色 */

	::-webkit-scrollbar-button {
		  background-color: #183042;
		  opacity:0;
	} /* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
    background-color: black;

} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
/*.sideBarBg{position: absolute;height:100%;overflow-y: auto;top:0;left:0;z-index:0;width: 280px;font-size:100%;}*/
.sideBar{width: 280px;position: relative;height:100%;bottom:0;top:0;z-index: 1;float: left;overflow-y: auto;background: url(../images/img/mws-sidebar-bg06.png) 0 0 repeat;}
.imgFont{font-size: 20px;color: #FFF;}
.userBox{padding:15px 0;margin-left: 6px;}
.portrait{width: 48px;height: 48px;border-radius: 50%;margin-right:15px;margin-top: 8px;}
.portrait img{width: 48px;height: 48px;border-radius: 50%;}
.userInfo p{margin: 0;color: #FFF;}
.navIn ul{border-top: 1px solid #204158;border-bottom: 1px solid #204158;}
.navIn ul li{position: relative;border-top: 1px solid #204158;}
.navIn ul li a{padding: 11px 48px 11px 65px;text-decoration: none;color: #FFF;display: block;font-size:16px;}
.navIn ul li a span{padding-left: 10px;}
.navIn ul li a.current span{color: #c5d52b;text-shadow: 0 0 6px rgba(197, 213, 42, 0.5);}
.navIn ul li ol{background: url(../images/img/mws-inset.png) 0 0 repeat;box-shadow: 0px 0px 3px #666;display: none;}
.navIn ul li ol.current{display: block;}
.rightArea{margin-left: 286px;padding-top: 40px;}
.rightAreaIn{float: left;margin:0 4%;width: 92%;position: relative; margin-top: 60px;}
.fiveSquareBox{width: 100%;margin-bottom: 24px;float: left;}
.fiveSquareBox a{width: 18% !important;min-width: 170px;margin: 8px 1%;height: 80px;float: left;display: block;text-decoration: none;color: #333;box-sizing: border-box;background: url(../images/img/mws-report-bg.png) 0 0 repeat-x;border: 1px solid #ccc;border-radius: 6px;}
.iconBox{width: 48px;height: 100%;float: left;display: block;border-right: 1px solid #ccc;text-align: center;}
.iconBox i{font-size: 24px;line-height: 80px;color: #3f825b;}
.iconBox02 i{color: #8b4f86;}
.iconBox03 i{color: #a73535;}
.iconBox04 i{color: #3b77a1;}
.iconBox05 i{color: #bb643b;}
input[type="radio"]{display: none !important;}
.textBox{display: block;margin-left: 49px;padding: 8px 10px;}
.textBox .textTit{white-space: nowrap;}
.textBox .textValue{font-size: 32px;font-weight: bold;display: inline-block;}
.noticeEmail{width: 48%;margin-bottom: 32px;float: left;position: relative;margin-left: 1%;margin-right: 1%;}
.noticeHead{height:50px;position:relative;padding:12px;font-size:14px;background: url(../images/img/mws-panel-header-bg06.png) 0 0 repeat-x;border-radius: 4px;color: #FFF;}
.noticeHead div{line-height: 24px;}
.noticeHead div span{color: #c5d52b;text-shadow: 0 0 6px rgba(197, 213, 42, 0.5);}
.noticeBody{background: #f8f8f8;margin: 0 2px;border:1px solid #bcbcbc;border-top: 0;box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);}
.gridview1 tr th
{
    font-family: 宋体;
    font-size: 10pt;
    padding: 0px 1px 0px 1px;
    background-color: #4682B4;
    color: White;
    vertical-align: middle;
    text-align: center;
}

.noticeTable{width: 100%;}
.noticeTable thead tr{background: url(../images/img/mws-table-header.png) left bottom repeat-x;}
.noticeTable thead tr th{padding: 10px 16px;border-bottom: 1px solid #ccc; text-align:center}
.noticeTable tbody tr td{padding: 10px 16px;border-left:#bebebe !important;}
table thead tr th,table tbody tr td{word-break: break-all;}
.noticeTable tbody tr:nth-child(2n){background: #f2f2f2;}
.selectBtn{text-decoration: none;display: none;}
.selectBtn:hover,.selectBtn:active,.selectBtn:focus,.selectBtn:after{text-decoration: none;}
.registerForm{width: 98%;}
.registerIn{width: 46%;padding: 1% 2%;}
.redFont{color: darkred;font-size: 14px;font-weight: bold;}
.redFont02{color: red;font-weight: bold;text-align: left !important;}
.registerRow{padding: 10px 0;}
.registerRow01{padding: 10px 0;}
.registerRow .title{text-align: right;width: 110px;float: left;margin-top:3px;}
.mgtp0{margin-top: 0 !important;}
.registerRow .inputBox{min-height: 30px;height: auto;}
.registerRow .noInput{position: relative;top: 0;}
.mglt0{margin-left: 0 !important;}
.greenBtn{text-align:center;background-color:#96c742;color:#FFF;border:1px solid #507E0C;background-image:linear-gradient(#addf58,#96c742);outline: none;cursor: pointer;padding: 4px 9px;border-radius: 3px;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);margin-left: 4px;}
input,select{border: 1px solid #ccc;outline: none;height: 30px;width: 80%;padding-left: 5px;}
.addressSelect{width: 24.3%}
.radioWrapIn{padding:0 20px;}
.radioBox{width: 15px;height: 15px;border-radius: 50%;background: url(../images/img/radioAfter.png) 0 0 no-repeat;margin-top:3px;}
.radioBox.current{background: url(../images/img/radio.png) 0 0 no-repeat;}
input[type="radio"]{display: none;}
em{font-style: normal;}
.inputBox em{position: relative;top: -7px;}
.pdrt20{padding-right: 20px;}
.width80per{display:block;float:left;width: 80%;}
.specialInput{width: 78%;}
.redBtn{background-color:#bc4343;border:1px solid #762929;background-image:linear-gradient(#ca4e4e,#bc4343);outline: none;cursor: pointer;padding: 6px 9px;border-radius: 3px;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);}
.onlyBtn{padding: 6px 30px;}
.registerFoot{padding: 20px 0;background: #F8F8F8;width: 100%;border-top: 1px solid #ccc;text-align: center;}
.searchFactor{padding:25px 15px 15px;border: 1px solid #999;background: #f8f8f8;border-radius: 6px;box-shadow: 0px 0px 6px #c1c1c1;}
.searchFactor span{float: left;display: block;}
.searchFactor span select,.searchFactor span input{width: 13%;margin-right:5px; position: relative;top: -4px; float: left;}   /*float: left;*/
.searchFactor span:nth-child(1){width: auto;}
.searchFactor span:nth-child(5){width:auto;}
.searchFactor .widthAuto{width: auto;}
.widthAuto em{position: relative;top: -6px;}
.posiReTop{position: relative;top: -6px;}
.width100per{width: 100%;}
.pdlt15{padding-left: 15px !important;}
.tableWrap{background: #444444;zoom: 1;}
.tableWrap table{background: #f8f8f8;}
.tableData{color: #FFF;float: left;margin-top: 5px;display: block;padding: 8px;font-size: 12px;}
.pageNumber{color: #FFF;float: right;padding: 2px;margin: 10px 8px 10px 0;background: url(../images/img/mws-inset.png) 0 0 repeat;border-radius: 4px;box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);font-size: 12px;}
.pageBtn{float: left;display: block;height: 20px;cursor:pointer;padding: 0 10px;line-height: 20px;text-align: center;background-color: #444444;border-right:1px solid rgba(0, 0, 0, 0.5);box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);}
.pageBtn.active{background: #c5d52b;color: #333;cursor:auto;}
.pageBtn.btn-disable{color: #666;cursor: auto;}
.pageBtn:nth-child(1){border-left: 0;}
.pageBtn:last-child{border-right: 0;}
.textCenter{text-align: center;}
.clickable{color: #333;cursor: pointer;}
.clickable:hover,.clickable:focus,.clickable:active{color: cornflowerblue;}
.modal-dialog{max-width: 1200px;min-width: 268px;}
.detailTable{margin-bottom: 20px;}
.detailTable:last-child{margin-bottom: 0px;}
.detailTable thead tr th,.detailTable tbody tr td{padding: 8px;}
.detailTable thead tr th{background: #f2f2f2;}
.detailTable tbody tr:nth-child(2n){background: #f8f8f8;}
.fontBold{font-weight: bold;}
.searchFactor01 span{width: 40%;}
.searchFactor01 span select,.searchFactor01 span input{width: 22%;}
.searchFactor01 .width10per{width: 10%;}
.searchFactor01 span .specialOne{width:100%;}
.registerTable thead tr th{padding: 10px;}
.searchFactor01 .width20per{width: 20%;}
.searchFactor01 .width20per .specialOne{width: 48%;float: left;}
.mgrt20{margin-right: 20px !important;}
.red{color:red;}
.tableInfoBox p{float: left;margin-top: 8px;}
.tableInfoBox div{float: right;margin-bottom: 10px;}
.threeBtn a{display: block;text-decoration: none;color: #333;float: left;padding: 10px 15px;border: 1px solid #666;border-right:0;background: #f8f8f8;}
.threeBtn a:hover{background: #ccc;}
.threeBtn a:first-child{border-radius: 5px 0 0 5px;}
.threeBtn a:last-child{border-right: 1px solid #666;border-radius: 0 5px 5px 0;}
.noticeTableMobile tbody tr th{padding: 10px 16px;}
.mobileTable{display: none;}
.modalTableMb{display: none;}
.modalTablePc01{background: #f8f8f8;margin-bottom: 15px;}
.modalTablePc01 .title{background: #667ea2;font-size: 18px;font-weight: bold;padding: 10px 0;text-align: center;color: #FFF;}
.modalTablePc01 .moneyContent{padding: 20px 0;}
.modalTablePc01 .moneyContent .moneyInfo{float: left;}
.modalTablePc01 .moneyContent .moneyInfo p{float: left;margin-left: 20px;}
.modalTablePc01 .moneyContent .greenBtn{float: right;margin-right: 10px;}
.payMemberOrder{cursor: pointer;}
.payMemberOrder div,.payMemberOrder p{float: left;}
.sonFloatLeft label,.sonFloatLeft span{float: left;}
input[type="radio"]{width: auto;}
.hideBox div{margin: 10px 0;}
.sonFloatLeft div{margin: 0;}
.mgtp30{margin-top: 30px !important;}
.productList li a{text-decoration: none;color: #333;line-height: 46px;text-align: center;display: block;border-bottom: 1px dashed #bebebe;}
.productList li a:hover{color: #080808;}
.productList li:last-child a{border-bottom: none;}
.width74per{width: 74% !important;}
.width24per{width: 24% !important;}
.searchFactor02{padding: 18px 15px 10px;}
.myGoodsCart .productList li a{display:block;padding: 5px;line-height: normal;}
.myGoodsCart .productList li a p{text-align: left;max-width: 150px;min-width:30px;font-size: 12px;text-overflow: ellipsis;white-space:nowrap; -o-text-overflow:ellipsis; overflow: hidden;}
.cartTxt{text-overflow: ellipsis;white-space:nowrap; -o-text-overflow:ellipsis; overflow: hidden;min-width: 50px;}
.goodsImgBox{float: left;width: 100px;height: 84.4px;}
.goodsImgBox img{width: 100%;margin:5px 0;}
.goodsInfo{float: left;margin-left: 15px;}
ul{margin-bottom: 0;}
.productBox{float: left;margin-right: 1%;}
.go{float: left;width: auto !important;}
.searchFactor span.onePart01{width: 77%;}
.searchFactor .onePart01 select,.searchFactor .onePart01 input{width: 14%;}
.searchFactor .onePart span{width:auto;float: left;text-align: right;}
.txtBox{margin-left: 1%;}
.keyword{width: 22% !important;}
.productImg{max-width: 260px;max-height: 216px;min-width: 100px;min-height: 84px;}
.productImg img{width: 100%;height: 100%;}
i,em{font-style: normal;}
.fiveSquareBox a.addCartBtn{height:auto;text-align:center;background-color:#96c742;color:#FFF;border:1px solid #507E0C;background-image:linear-gradient(#addf58,#96c742);outline: none;cursor: pointer;padding: 4px 9px;border-radius: 3px;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);}
.productInfo{width: 25%;float: left;}
.pdtp10{padding-top: 10px;}
.pageNumber02{width: 100%;margin-top: 40px;}
.pageNumber02 span{float: left;width: auto;}
.pageNumIn a{float: left;background: none;height: auto;border: none;padding: 0;min-width: auto;width: auto !important;margin: 0 5px;}
.pageNumIn a:focus{color: darkred;}
.pageNumIn a:hover{color: cornflowerblue;}
.ellipsis{cursor: default;}
.ellipsis:hover{color: #333 !important;}
.width11per{width: 11% !important;}
.width22per{width: 22% !important;}
.width8per{width: 8% !important;}
.turnPage{width: 11% !important;}
.turnPage div,.turnPage input{float: left;}
.turnPage input{width: 30px !important;height: 30px;}
.pageNumber02 span .redBtn{width:100% !important;position:relative;top:-6px;margin:0;color:#FFF;text-align:center;min-width:100%;height:auto;background-color:#bc4343;border:1px solid #762929;background-image:linear-gradient(#ca4e4e,#bc4343);outline: none;cursor: pointer;padding: 6px 9px;border-radius: 3px;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);}
.productName{text-align: left;width:100%;text-overflow: ellipsis;white-space:nowrap; -o-text-overflow:ellipsis; overflow: hidden;}
.secondPw{max-width: 270px;}
.secondPw input{width: 200px;}
.secondPw span,.secondPw input{float: left;}
.secondPw span{width: 70px;line-height:30px;}
.mgtp10{margin-top: 10px !important;}
.total tbody tr th{color: darkred;}
.formOrderInfo input,.formOrderInfo select{width: 68%;}
.formOrderInfo .width80per{width: 68%;}
.formOrderInfo .addressSelect{width: 23.6%;}
.formOrderInfo .width100per{width: 100%;}
.formOrderInfo .searchArranger{width: 100%;margin-top: 15px;margin-left: 0;}
.lineH30{line-height: 26px;}
.mgtpf5{margin-top: -5px !important;}
.pdtp3{padding-top: 3px !important;}
.threeBtnTxt a{padding: 7px 10px;}
.threeBtnTxt a i{padding-right: 5px;}
.searchFactor span.onePart02{width: 40%;}
.searchFactor .onePart02 input,.searchFactor .onePart02 select{width: 30%;}
.threeBtnTxt.onlyOne a{border-radius: 5px;}
.searchFactor span.onePart03{width: 54%;}
.searchFactor .onePart03 select, .searchFactor .onePart03 input{width: 19%;}
.searchFactor .onePart03 .keyword01{width: 24%;}
.mg0{margin: 0 !important;}
.posiReTop2m{position: relative;top: -2px;}
.disInBlock{display: inline-block !important;}
.height50{height: 50px !important;}
.remarks{height: 50px;width: 80%;border: 1px solid #ccc;resize: none;padding: 5px;outline: none;}
.selectDiv{float:left;width: 17%;height: 30px;border: 1px solid #ccc;position: relative;top: -4px;cursor: pointer;background: #FFF;}
.checkPanel{display:none;position: absolute;width: 100%;background: #f4f4f4;top: 29px;left: 0;z-index: 10;border: 1px solid #ccc;border-top: 0;padding: 5px 0;}
.selectDiv .checkPanel div{padding: 5px 10px;border-bottom: 1px dashed #ccc;}
.selectDiv .checkPanel div:hover{background: #eee;}
.selectDiv .checkPanel .lastOne{border: 0;}
.searchFactor .checkPanel input{width:auto;height: auto;top: 4px;}
.searchFactor .checkPanel span{text-align: left;}
.searchFactor span.onePart04{width: 60%;}
.searchFactor .onePart04 select, .searchFactor .onePart04 input{width: 16%;}
.colorHv{color: #333;cursor: pointer;}
.colorHv:hover{color:cornflowerblue;}
.rightAreaIn01{width: 60%;}
.fl{float: left;}
.width50per{width: 50% !important;}
.mgtp20{margin-top: 20px;}
.pd0{padding: 0 !important;}
.pdlt5{padding-left: 5px !important;}
.rightAreaIn01 .radioWrapIn label{margin-bottom: -3px;}
.onePart05{width: 100% !important;}
.mgtp12{margin-top: 12px !important;}
.searchFactor span .title{width:80% ;}
.width15per{width: 15% !important;}
.fiveSquareBox02 a{display: inline;float: none;padding: 3px;text-decoration:underline;border: none;background: none;}
.fiveSquareBox02 a:hover{color: cornflowerblue;}

@media (min-width: 768px){
	
	.modal-dialog{width:auto;margin: 150px auto;}

}

@media screen and (max-width: 1767px){
	.width80per,select,input{width: 76%;}
	.specialInput{width: 76%;}
	.addressSelect{width: 24.1%}
}
@media screen and (max-width: 1670px){
	.specialInput{width: 75%;}
}
@media screen and (max-width: 1616px){
	.specialInput{width: 74%;}
}
@media screen and (max-width: 1565px){
	.specialInput{width: 73%;}
}
@media screen and (max-width: 1519px){
	.specialInput{width: 100%;}
	.addressSelect{width: 100%}
	.width80per,select,input{width: 100%;}
	.noticeEmail{width: 100%;float: left;}
	.sideBar{display: none;width: 100%;z-index: 3;overflow-y: auto;height: 300px;}
	.sideBar.current{display: block;}
	.rightArea{margin-left: 0;position: relative;z-index: 2;}
	.rightAreaIn{width:98%;margin:0;background: url(../images/img/mws-body-bg.png) 0 0 repeat;}
	.selectBtn{display: block;}
	.registerIn{width: 100%;float: none;}
	.registerRow .title{width: auto;float: none;}
	.registerRow .inputBox{position: static;margin-left: 0;}
	.inputBox em{position: relative;top:0;}
	.radioBox{position: relative;top: 7px;}
	.addressSelect{margin: 15px 0;}
	.addressSelect:nth-child(2),.addressSelect:nth-child(3),.addressSelect:nth-child(4){margin-left:0px;}
	.width80per{float:none;}
	.widthAuto em{position: relative;top: 0px;}
	.noFloat{float: none !important;}
	.searchArranger{display: block;width:50%;margin: 20px auto 0;}
	.productBox .noticeEmail,.myGoodsCart{float: left;}
	.formOrderInfo input,.formOrderInfo select{width: 100%;}
	.formOrderInfo .width80per{width: 100%;}
	.formOrderInfo .addressSelect{width: 100%;}
	.remarks{width: 100%;}
	.rightAreaIn01 .radioWrapIn label{top: 0;}
	
}

@media screen and (max-width: 1252px){
	.pageNumber02 .width10per{width: 25% !important;}
	.pageNumber02 .width8per{width: 100% !important;}
	.turnPage{width: 30% !important;}
	.pageNumIn{width: 45% !important;}
}

@media screen and (max-width: 1020px){
	.keyword{width: 14% !important;}
	.productInfo{width: 50%;}
}

@media screen and (max-width: 916px){
	.radioWrapIn{padding: 0;}
}

@media screen and (max-width: 946px){
	.searchFactor span.onePart01{width: 100%;}
	.searchFactor .onePart01 select,.searchFactor .onePart01 input,.searchFactor .onePart01 span,.searchBtnBox,.searchBtnBox span{width:100% !important;float: none;display: block;margin: 0;}
	.searchFactor .onePart01 span{text-align: left;line-height: 30px;margin: 0;}
	.searchBtnBox{margin-top: 28px;}
	.keyword{margin-top: 28px !important;}
	.mgtp20Wid946{margin-top: 20px !important;}
	.selectDiv{width: 100%;float: none;margin-bottom: 20px;}
}

@media screen and (max-width: 768px){
	.searchFactor span{float: none;width: 100%;}
	.searchFactor span select,.searchFactor span input{width: 100%;margin: 10px 0;}
	.searchFactor01 span .specialOne{max-width: 100%;}
	.searchFactor .widthAuto{width: 100%;}
	.radioWrap{display:block;text-align: center;}
	.radioWrapIn{display: inline-block;margin-bottom:20px;margin-top: -6px;}
	.greenBtn01{display: inline-block;}
	.detailTable{width:720px;}
	.logoBox{display: none;}
	.noticeTable{width: 925px;}
	.searchFactor01 .width10per{width: 100%;}
	.searchFactor01 .width10per select,.searchFactor01 .width10per input{float: none;}
	.searchFactor01 .width20per{width: 100%;}
	.searchFactor01 .width20per .specialOne{width: 100%;}
	.pcMobileCut{display: none;}
	.noticeTableMobile{width: 100%;margin-bottom: 10px;}
	.noticeTableMobile tbody tr th,.noticeTableMobile tbody tr td{background: #f8f8f8;}
	.mobileTable{display: block;}
	.mbMgtp10{margin-top: 10px !important;}
	.noFloat{float: none !important;}
	.modalTablePc{display: none;}
	.modal-title{font-size: 14px;}
	.modalTableMb{display: block;}
	.modalTablePc01 .moneyContent .moneyInfo{float: none;width: 100%;}
	.modalTablePc01 .moneyContent .moneyInfo p{float: none;margin:0;}
	.modalTablePc01 .moneyContent .greenBtn{float: none;margin: 10px auto 0;}
	.myGoodsCart,.productBox{width: 100% !important;}
	.pageNumber02 .width10per{width: 100% !important;}
	.turnPage{width: 100% !important;}
	.pageNumIn{width: 100% !important;}
	.searchFactor01 span{display: block;width: 100%;float: none;}
	.searchFactor01 span select,.searchFactor01 span input{display: block;width: 100% !important;float: none;margin-bottom: 20px;}
	.searchFactor01 span input{margin-bottom: 10px;}
	.searchFactor01 span .greenBtn{margin-top: 10px;}
	.searchFactor .onePart05 div span,.searchFactor .onePart05 div select,.searchFactor span div input{float: none;text-align:left;width: 100% !important;}
	.searchFactor .onePart05 div .radioWrapIn{margin-top: 5px;padding-left: 0 !important;}
	.searchFactor .onePart05 .mgtp12{margin-top: 0 !important;}
	.searchFactor .onePart05 .mgtp20{margin-top: 0 !important;}
}

@media screen and (max-width: 460px){
	.productInfo{width: 100%;}
}

